<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="StudentEntity" type="com.vip.openhft.StudentEntity" />
		<typeAlias alias="ClassEntity" type="com.vip.openhft.ClassEntity" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://10.199.199.63:3306/STUDENT_MANAGER" />
				<property name="username" value="root" />
				<property name="password" value="hello1" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="StudentMapper.xml" />
	</mappers>
</configuration> 